<div class="card card-flush">
    <div class="table-responsive p-8" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
        <div class="table-loading-message">
            Yükleniyor...
        </div>

        <table class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>İsim</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ticketTypes">
                    <td>{{item.supportRequestName}}</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" style="margin-right: .5rem;" (click)="onEditTicketTypeClick(item)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" (click)="onDeleteTicketTypes(item)"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>