<div class="container">
    <div class="row ">
        <div class="col-12 col-xl-6 mt-5" *ngFor="let account of accountList.items">
            <div class="account-card">
                <div class="d-flex w-100 align-items-center justify-content-between">
                 
                    <div class="d-flex flex-column">
                <p class="title mb-0">
                   
                    {{account.bankName}}
                </p>
                <p class="title mb-0" style="color: #80808078;">
                    {{account.accountNo}}
                </p>
            </div>
            <img class="bank-logo" [src]="account.image?.imagePath | apiUrl" />
            </div>
                <div class="d-flex mt-14 mb-4 flex-sm-row flex-column">

                    <div class="w-50 mb-4">
                        <p class="fullname">{{account.accountName}}
                        </p>
                        <p class="fullname">
                            {{account.firstName}}
                            {{account.lastName}}
                        </p>
                    </div>

                    <div class="w-50 mb-4">
                        <p class="desc"><span style="margin-right: 8px;" class="fw-600">Hesap No:</span> {{account.accountNo}}
                        </p>
                        <p class="desc"><span style="margin-right: 8px;"  class="fw-600">IBAN:</span> {{account.iban}}
                        </p>
                        <p class="desc"><span style="margin-right: 8px;"  class="fw-600">Swift Kodu:</span> {{account.swiftCode}}
                        </p>
                        <p class="desc"><span style="margin-right: 8px;"  class="fw-600">Branch Kodu:</span> {{account.branchCode}}
                        </p>
                    </div>

                </div>

                <button class="btn btn-sm btn-secondary edit-icon" (click)="onEditAccountClick(account)"><i
                        class="fas fa-edit"></i></button>

                <button class="btn btn-sm btn-secondary delete-icon" (click)="onDeleteAccountClick(account)"><i
                        class="fas fa-trash text-danger"></i></button>
            </div>
        </div>

        <!-- <div class="col-12 col-xl-6 mt-5">
            <div class="account-card" style="display: flex;
            justify-content: center;
            align-items: center;">
                <i class="fas fa-circle-plus add-icon" (click)="onAddAccountClick()"></i>
            </div>
        </div> -->
    </div>
</div>