<div class="card card-flush">
  <div
    class="table-responsive p-8"
    style="min-height: 500px"
    [ngClass]="{ 'table-loading': isLoading }"
  >
    <div class="table-loading-message">Loading...</div>
    <!-- <div class="d-flex flex-row p-5 justify-content-end">
            <button class="btn btn-primary btn-sm btn-light mx-1" 
            (click)="onSyncNewgiftsClick()">Sync New gifts</button>

            <button class="btn btn-success btn-sm btn-light mx-1" 
            (click)="onSyncPricesClick()">Sync Prices</button>

            <button class="btn btn-info btn-sm btn-light mx-1" 
            (click)="onSyncTranslationsClick()">Sync Translations</button>

            <button class="btn btn-secondary btn-sm btn-light mx-1" 
            (click)="onSyncStockClick()">Sync Stocks</button>
        </div> -->
    <!--  <div class="d-flex flex-row p-5">
      <app-search (searchTextOutput)="searchTriggered($event)"></app-search>

      <div class="d-flex flex-row align-items-center"></div>
    </div>
 -->
    <table class="table table-row-bordered gy-5">
      <thead>
        <tr class="fw-bolder fs-6 text-gray-800">
          <th>Profile Photo</th>
          <th style="cursor: pointer">Gift Name</th>
          <th style="cursor: pointer">Description</th>
          <th style="cursor: pointer" title="sort">Point</th>
          <th style="cursor: pointer" title="sort">Is Deleted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gift of giftsModel.items">
          <td>
            <img
              class="small-thumb-image"
              *ngIf="gift.giftImageUrl"
              [src]="gift.giftImageUrl | apiUrl"
            />
          </td>
          <td>{{ gift.giftName }}</td>
          <td>{{ gift.giftDescription }}</td>
          <td>{{ gift.points }}</td>
          <td>{{ gift.isDeleted }}</td>
          <td>
            <a
              class="btn btn-sm btn-secondary px-4"
              style="margin-right: 0.5rem"
              routerLink="/gift/edit/{{ gift.id }}"
              (click)="setPageHistory(gift)"
              ><i class="fas fa-edit"></i> Edit</a
            >
            <button
              class="btn btn-sm btn-danger px-4"
              (click)="onDeleteGift(gift)"
            >
              <i class="fas fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ngb-pagination
      [maxSize]="5"
      [ellipses]="true"
      *ngIf="!waitForSycn"
      [collectionSize]="giftsModel.count"
      [pageSize]="params.Count"
      [page]="params.Page + 1"
      (pageChange)="onPageChange($event)"
      size="sm"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
</div>
<app-toasts></app-toasts>
