<div class="card card-flush">
    <div class="table-responsive p-8" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
        <div class="table-loading-message">
            Loading...
        </div>

        <table class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>Başlık</th>
                    <th>Adres</th>
                    <th>Çalışma Saatleri</th>
                    <th>E-Posta</th>
                    <th>Telefon</th>
                    <th>Lat/Lng</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contactAddress of contactAddresses?.items">
                    <td>{{contactAddress.title}}</td>
                    <td>{{contactAddress.address}}</td>
                    <td>{{contactAddress.workingHours}}</td>
                    <td>{{contactAddress.email}}</td>
                    <td>{{contactAddress.phoneNumberCountryCode}} {{contactAddress.phone}}</td>
                    <td>{{contactAddress.latitudeLongitude}}</td>
                    <td>{{contactAddress.status == 1 ? 'Aktif' : 'Pasif'}}</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" style="margin-right: .5rem;"
                            (click)="onEditContactAddressClick(contactAddress)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" (click)="onDeleteContactAddress(contactAddress)"><i
                                class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>