<ng-container *ngIf="formErrors.length">
    <div class="alert alert-danger">
        <div class="d-flex flex-column">
            <span *ngFor="let error of formErrors">{{error}}</span>
        </div>
    </div>
</ng-container>

<form [formGroup]="chooseForYouForm" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
       
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Resim</h2>
                </div>
            </div>
            <div class="card-body text-center pt-0">
                <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" [style]="{
                    backgroundSize: 'contain',
                    backgroundPosition: 'center',
                    backgroundImage: 'url(' + thumbImage + ')'
                }">
                    <div class="image-input-wrapper  w-550px h-350px"></div>
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Change avatar">
                        <i class="bi bi-pencil-fill fs-7"></i>
                        <input #thumbInput type="file" name="avatar" accept=".png, .jpg, .jpeg, .webp"
                            (change)="onThumbChange($event)">
                    </label>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Cancel avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="remove" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Remove avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                </div>
                <div class="text-muted fs-7">Yalnızca *.png, *.jpg ve *.jpeg resim dosyaları kabul edilir.</div>
            </div>
        </div>

        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Yönlenecek Url</h2>
                </div>
            </div>
            <div class="card-body py-0">
                <app-translation-entry *ngIf="redirectUrlTranslations" [entries]="redirectUrlTranslations"
                    [placeholder]="'Yönlenecek sayfa'"></app-translation-entry>
                <!-- <input type="text" class="form-control" formControlName="redirectUrl" placeholder="yönlenecek sayfa"> -->
                <p class="text-small">Lütfen url'i başında '/' olmadan giriniz. Örn: 'app-some-page'</p>
            </div>

            <div class="card-header">
                <div class="card-title">
                    <h2>Sıra</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <input type="number" class="form-control" formControlName="order" placeholder="Sıra">
            </div>
        </div>

        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Ad</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <app-translation-entry *ngIf="keyTranslations.length > 0" [entries]="keyTranslations"
                    [placeholder]="'Adı'"></app-translation-entry>
            </div>
        </div>
        
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Başlık</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <app-translation-entry *ngIf="headerTranslations.length > 0" [entries]="headerTranslations"
                    [placeholder]="'Başlık'"></app-translation-entry>
            </div>
        </div>

        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>İçerik</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <app-translation-entry *ngIf="contentTranslations.length > 0" [entries]="contentTranslations"
                    [placeholder]="'İçerik'" [mode]="'wysiwyg'"></app-translation-entry>
            </div>
        </div>


        <div class="d-flex justify-content-end">
            <button routerLink="/apps/ecommerce/choose-for-yous/list" class="btn btn-light me-5">İptal</button>
            <button type="button" (click)="onSaveClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
                [disabled]="isLoading" class="btn btn-primary">
                <span class="indicator-label">{{chooseForYouForm.value.id != 0 ? "Değişiklikleri Kaydet" : "Kaydet"}}</span>
                <span class="indicator-progress">Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
</form>