<ng-container *ngIf="mode != 'dropdown'">
  <mat-expansion-panel
    class="category-wrapper"
    *ngFor="let subCategory of categoryChilds; let j = index"
    (opened)="subCategory.isOpened = true"
    (closed)="subCategory.isOpened = false"
  >
    <mat-expansion-panel-header
      [ngClass]="{ 'selected-sub-category': subCategory.isOpened }"
    >
      <mat-panel-title>
        -
        {{ subCategory.name }}

        <img
          class="small-thumb-image"
          *ngIf="subCategory.image && subCategory.image.imagePath"
          [src]="subCategory.image.imagePath | apiUrl"
        />
        <div class="d-flex ml-auto">
          <span
            (click)="onEditCategoryClick(subCategory)"
            title="Edit"
            class="icon-button"
          >
            <i class="bi bi-pencil-fill fs-7"></i>
          </span>

          <span
            (click)="deleteCategory(subCategory)"
            title="Delete"
            class="icon-button"
          >
            <i class="bi bi-trash-fill fs-7"></i>
          </span>
        </div>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>

    <app-category
      (onDeleteCategory)="deleteCategory($event)"
      [categoryChilds]="subCategory.children"
    ></app-category>
  </mat-expansion-panel>
</ng-container>

<ng-container *ngIf="mode == 'dropdown'">
  <mat-expansion-panel
    class="category-wrapper"
    id="dropdownMode"
    *ngFor="let subCategory of categoryChilds; let j = index"
    (opened)="subCategory.isOpened = true"
    (closed)="subCategory.isOpened = false"
  >
    <mat-expansion-panel-header
      [ngClass]="{ 'selected-sub-category-dropdown': subCategory.isOpened }"
    >
      <mat-panel-title>
        {{ subCategory.name }}

        <div class="d-flex ml-auto">
          <span
            (click)="onSelectCategory(subCategory)"
            [ngClass]="{
              'selected-category-check': subCategory.id == selectedCategory?.id
            }"
            title="Seç"
            class="icon-button"
          >
            <i class="bi bi-check-lg"></i>
          </span>
        </div>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="subCategory.children && subCategory.children.length > 0">
      <app-category
        (onSetCategory)="onSelectCategory($event)"
        [mode]="'dropdown'"
        [ngClass]="{
          'selected-category-check': subCategory.id == selectedCategory?.id
        }"
        [categoryChilds]="subCategory.children"
        [selectedCategory]="selectedCategory"
      ></app-category>
    </div>
  </mat-expansion-panel>
</ng-container>
