.info-section {
    padding: .5rem;
    height: calc(100vh - 28.5rem);
    overflow: auto;
}

.label {
    width: 10rem;
    font-weight: 600;
    padding: .125rem;
}

.label-postfix {
    padding: .125rem;
    font-weight: 600;
}

.field {
    padding: .125rem;
}

.suspended{
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: .75;
}

.title {
    opacity: .75;
    padding: 1rem;
}

.address-card {
    margin: .5rem;
}

.document-item {
    padding: .5rem;
    color: #000;
    font-weight: 700;

    &:hover {
        text-decoration: underline !important;
    }
}