<div class="card card-flush p-10">
  <div *ngIf="customer">
    <!-- 
        addresses: []
        -----allowSendingMailSmsAndNotification: false
        -----companyTypeId: 1
        -----contactCode: "100010"
        -----contactName: "Mert Durgut"
        -----customerVatGroup: "INLAND"
        -----email: "mert.durgut@kahraman-gmbh.eu"
        -----erpCode: "100010"
        -----export: false
        -----id: 1
        -----name: "Kahraman Gmbh"
        -----phone: "07181 9915070 / 0176 24957896"
        -----phoneNumberCountryCode: "+90"
        postalCode: null
        -----suspended: true
        -----taxNo: "DE323754302"
        -----taxOffice: "Finanzamt Schorndorf"
        token: ""
        userId: 0
        users: [{…}]
     -->

    <div *ngIf="arid" style="margin-bottom: 1rem">
      <p class="lead">This customer is not approved yet. Want to decide now?</p>

      <div class="d-flex flex-row">
        <button
          class="btn btn-sm btn-secondary px-4"
          style="margin-right: 0.25rem"
          (click)="onApproveClick()"
        >
          <i class="fas fa-check"></i> Approve
        </button>

        <button class="btn btn-sm btn-danger px-4" (click)="onRejectClick()">
          <i class="fas fa-ban"></i> Reject
        </button>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Company Info</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column info-section">
            <div class="d-flex flex-row">
              <p class="label">Erp Code</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ saveErpCode ?? customer.erpCode }}</p>
            </div>
            <div class="d-flex flex-row">
              <div
                class="d-flex flex-column"
                style="
                  border: solid 2px #d8d8d8;
                  padding: 1rem;
                  border-radius: 1rem;
                  margin-bottom: 1rem;
                "
              >
                <button
                  type="button"
                  (click)="onSendToErpClick()"
                  [attr.data-kt-indicator]="isErpLoading ? 'on' : 'off'"
                  [disabled]="isErpLoading"
                  class="btn btn-primary btn-sm"
                  style="padding: 0.5rem 0.75rem"
                >
                  <span class="indicator-label">Send to ERP</span>
                  <span class="indicator-progress"
                    >Please wait...
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span
                  ></span>
                </button>

                <hr />

                <label class="text-muted"
                  ><strong>Update erp code on ShootingFest</strong></label
                >

                <div class="d-flex flex-row">
                  <input
                    type="text"
                    class="form-control"
                    style="padding: 0.25rem 0.75rem"
                    placeholder="Erp Code"
                    [(ngModel)]="newErpCode"
                  />
                  <button
                    type="button"
                    (click)="onSaveErpCodeClick()"
                    [attr.data-kt-indicator]="isSaveCodeLoading ? 'on' : 'off'"
                    [disabled]="isSaveCodeLoading"
                    class="btn btn-primary btn-sm"
                    style="padding: 0.5rem 0.75rem"
                  >
                    <span class="indicator-label">Save</span>
                    <span class="indicator-progress"
                      >Please wait...
                      <span
                        class="spinner-border spinner-border-sm align-middle ms-2"
                      ></span
                    ></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Name</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.name }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Contact Code</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.contactCode }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Contact Person</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.contactName }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Email</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.email }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Phone</p>
              <p class="label-postfix">:</p>
              <p class="field">
                ({{ customer.phoneNumberCountryCode }}) {{ customer.phone }}
              </p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Type</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ companyType }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Export?</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.export ? "YES" : "NO" }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Vat Group</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.customerVatGroup }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Tax No</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.taxNo }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Tax Office</p>
              <p class="label-postfix">:</p>
              <p class="field">{{ customer.taxOffice }}</p>
            </div>
            <div class="d-flex flex-row">
              <p class="label">Emails and Notifications Allowed?</p>
              <p class="label-postfix">:</p>
              <p class="field">
                {{ customer.allowSendingMailSmsAndNotification ? "YES" : "NO" }}
              </p>
            </div>

            <div class="suspended" *ngIf="customer.suspended">SUSPENDED</div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Documents</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column info-section">
            <a
              class="document-item"
              *ngFor="let item of customer.companyDocuments"
              href="{{ item.path | apiUrl }}"
              target="_blank"
              >{{ item.key }}</a
            >

            <p
              style="padding: 1rem"
              *ngIf="customer.companyDocuments.length == 0"
            >
              no documents found
            </p>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Billing Addresses</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column info-section">
            <!-- 
                        addressContactFullName: "Habib Çakırcı"
                        addressText: "string"
                        addressTitle: "Şirket Adresi"
                        addressType: 2
                        city: null
                        cityId: 4271
                        company: null
                        companyId: 1
                        companyName: "Kargo"
                        country: null
                        countryId: 225
                        createdBy: null
                        createdDate: "2022-04-25T18:29:36.4825663"
                        email: "emrecan.ayar@technoface.com.tr"
                        id: 4
                        phone: "535215116"
                        phoneNumberCountryCode: "+90"
                        postalCode: "23423424"
                        suspended: false
                     -->
            <div
              class="card address-card"
              *ngFor="let item of customer.addresses | addressFilter : 1"
            >
              <div class="card-body">
                <h5 class="card-title">{{ item.addressTitle }}</h5>
                <h6
                  class="card-subtitle mb-2 text-muted"
                  *ngIf="item.suspended"
                >
                  SUSPENDED
                </h6>
                <p class="card-text">{{ item.addressContactFullName }}</p>
                <p class="card-text">{{ item.email }}</p>
                <p class="card-text">
                  {{ item.phoneNumberCountryCode }} {{ item.phone }}
                </p>
                <p class="card-text">{{ item.addressText }}</p>
                <p class="card-text">
                  {{ cityName(item.cityId) }} /
                  {{ countryName(item.countryId) }}
                  <span *ngIf="item.postalCode">/</span> {{ item.postalCode }}
                </p>

                <!-- <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Delivery Addresses</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column info-section">
            <!-- 
                        addressContactFullName: "Habib Çakırcı"
                        addressText: "string"
                        addressTitle: "Şirket Adresi"
                        addressType: 2
                        city: null
                        cityId: 4271
                        company: null
                        companyId: 1
                        companyName: "Kargo"
                        country: null
                        countryId: 225
                        createdBy: null
                        createdDate: "2022-04-25T18:29:36.4825663"
                        email: "emrecan.ayar@technoface.com.tr"
                        id: 4
                        phone: "535215116"
                        phoneNumberCountryCode: "+90"
                        postalCode: "23423424"
                        suspended: false
                     -->
            <div
              class="card address-card"
              *ngFor="let item of customer.addresses | addressFilter : 2"
            >
              <div class="card-body">
                <h5 class="card-title">{{ item.addressTitle }}</h5>
                <h6
                  class="card-subtitle mb-2 text-muted"
                  *ngIf="item.suspended"
                >
                  SUSPENDED
                </h6>
                <p class="card-text">{{ item.addressContactFullName }}</p>
                <p class="card-text">{{ item.email }}</p>
                <p class="card-text">
                  {{ item.phoneNumberCountryCode }} {{ item.phone }}
                </p>
                <p class="card-text">{{ item.addressText }}</p>
                <p class="card-text">
                  {{ cityName(item.cityId) }} /
                  {{ countryName(item.countryId) }}
                  <span *ngIf="item.postalCode">/</span> {{ item.postalCode }}
                </p>

                <!-- <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>Users</a>
        <ng-template ngbNavContent>
          <div class="card address-card" *ngFor="let item of customer.users">
            <div class="card-body">
              <h5 class="card-title">
                {{ item.firstName }} {{ item.lastName }} ({{ item.shortName }})
              </h5>
              <h6 class="card-subtitle mb-2 text-muted" *ngIf="item.suspended">
                SUSPENDED
              </h6>
              <p class="card-text">{{ item.email }}</p>
              <p class="card-text">
                {{ item.phoneNumberCountryCode }} {{ item.phoneNumber }}
              </p>
              <!-- 
              <a href="#" *ngIf="!item.suspended" class="card-link">Suspend</a>
              <a href="#" class="card-link">Edit</a> -->
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>Favorite Products</a>
        <ng-template ngbNavContent>
          <table class="table table-row-bordered gy-5">
            <thead>
              <tr class="fw-bolder fs-6 text-gray-800">
                <th>Image</th>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of favouriteProducts">
                <td>
                  <img
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: contain;
                      object-position: center;
                    "
                    *ngIf="product.mainImage && product.mainImage.imagePath"
                    [src]="product.mainImage.imagePath | apiUrl"
                  />
                </td>
                <td>
                  <p style="margin: 0">{{ product.productCode }}</p>
                </td>
                <td>
                  <p style="width: 300px" class="text-truncate m-0">
                    {{ product.productName }}
                  </p>
                </td>
                <td>€{{ product.price }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
<app-toasts></app-toasts>
