<div class="card card-flush">
    <div class="table-responsive p-8" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
        <div class="table-loading-message">
            Loading...
        </div>

        <table class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>Adı</th>

                    <th>İndirim Tipi</th>
                    <th>Promosyon Tipi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promotion of promotionList.items">

                    <td>{{promotion.name}}</td>
                  
                     <td>
                        <span *ngIf="promotion.discountType == 1">Tüm Sepetin Yüzdesi</span>
                        <span *ngIf="promotion.discountType == 2">Tüm Sepete Sabit Tutar</span>
                      
                    </td>
                    <td>
                        <span *ngIf="promotion.promotionType == 1">İndirim</span>
                        <span *ngIf="promotion.promotionType == 2">Ürün</span>
                        <span *ngIf="promotion.promotionType == 3">Kupon</span>
                        <span *ngIf="promotion.promotionType == 4">Coin</span>
                        <span *ngIf="promotion.promotionType == 5">Yeni Üyelik</span>
                        <span *ngIf="promotion.promotionType == 6">Alışveriş Sonrası</span>
                    </td>
                    <td style="width: 130px;">
                        <button class="btn btn-sm btn-secondary" style="margin-right: .5rem;"
                            (click)="onEditPromotionClick(promotion)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" style="margin-right: .5rem;"
                            (click)="onDeletePromotionClick(promotion)"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [maxSize]="5" [ellipses]="true" *ngIf="!waitForSycn" [collectionSize]="promotionList.count"
        [pageSize]="params.Count" [page]="params.Page + 1" (pageChange)="onPageChange($event)" size="sm"
        [boundaryLinks]="true">
    </ngb-pagination>
    </div>
</div>