<div class="card card-flush">
    <div class="table-responsive p-8" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
        <div class="table-loading-message">
            Loading...
        </div>

        <button class="btn btn-sm btn-light" style="margin-right: .5rem;"
            [ngClass]="{'btn-primary': status == 1}" routerLink="/apps/administration/tickets/list"
            [queryParams]="{status: '1'}">Açık</button>
        <button class="btn btn-sm btn-light" style="margin-right: .5rem;"
            [ngClass]="{'btn-primary': status == 2}" routerLink="/apps/administration/tickets/list"
            [queryParams]="{status: '2'}">Cevaplanan</button>
      
        <table class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>Id</th>
                    <th>Sipariş No</th>
                    <th>Konu</th>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th *ngIf="status == 1">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of model.items">
                    <td>{{item.id}}</td>
                    <td>{{item.order.id}}</td>
                    <td>{{item.supportRequestType?.supportRequestName}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.content}}</td>
                    <!-- <td>{{item.createdDate| date}}</td> -->

                    <td *ngIf="item.supportStatus==1">
                        <div class="d-flex flex-column">
                            <button class="btn btn-sm btn-primary mb-2"
                                (click)="onViewEditClick(item)">Cevap</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [maxSize]="5" [ellipses]="true" *ngIf="!waitForSycn" [collectionSize]="model.count"
        [pageSize]="params.Count" [page]="params.Page + 1" (pageChange)="onPageChange($event)" size="sm"
        [boundaryLinks]="true">
    </ngb-pagination>
    </div>
</div>