<div class="d-flex flex-column">
    <div class="card card-flush py-4">
        <div class="card-body pt-0">
            <div>
                <label class="required form-label">Closing Statement</label>
                <input type="text" class="form-control" placeholder="Statement" [(ngModel)]="coinPeriod.statement">
            </div>
            <div class="spacer"></div>
            <div>
                <label class="required form-label">Start Date</label>
                <input type="date" class="form-control" placeholder="Start Date" [(ngModel)]="coinPeriod.startDate">
            </div>
            <div class="spacer"></div>
            <div>
                <label class="required form-label">End Date</label>
                <input type="date" class="form-control" placeholder="End Date" [(ngModel)]="coinPeriod.endDate">
            </div>
        </div>
        <div class="d-flex justify-content-end m-2">
            <button type="button" (click)="onGetListClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
                [disabled]="isLoading" class="btn btn-success">
                <span class="indicator-label">Fetch the List</span>
                <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="d-flex justify-content-end">
        <button routerLink="/apps/ecommerce/coins/periods" class="btn btn-light me-5">Cancel</button>
        <button type="button" (click)="onSaveClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
            [disabled]="isLoading" class="btn btn-primary">
            <span class="indicator-label">Close Period</span>
            <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
    </div>

    <div class="card card-flush my-5" *ngIf="getList.length>0">
        <div class="card-body pt-5">
            <div class="table-responsive" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
                <div class="table-loading-message">
                    Loading...
                </div>
                <div class="d-flex justify-content-start m-2">
                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                        {{coinPeriod.startDate + ' / ' + coinPeriod.endDate}} List
                    </h1>
                </div>
                <hr>
                <table class="table table-row-bordered gy-5">
                    <thead>
                        <tr class="fw-bolder fs-6 text-gray-800">
                            <th>Company Type</th>
                            <th>Company</th>
                            <th>User</th>
                            <th>Membership</th>
                            <th>Total Order</th>
                            <th>Total Earn</th>
                            <th>Total Use</th>
                            <th>Total Coin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getList">
                            <td>{{item.userCompanyTypeName}}</td>
                            <td>{{item.userCompanyName }}<br> {{ item.userCompanyEmail}}</td>
                            <td>{{item.userFirstName + ' ' + item.userLastName }}<br> {{ item.userEmail}}</td>
                            <td>{{item.userMembershipStatus}}</td>
                            <td>{{item.totalOrderAmount | currency}}</td>
                            <td>{{item.totalEarnAmount}}</td>
                            <td>{{item.totalUseAmount}}</td>
                            <td>{{item.totalCoinAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>