<ng-container *ngIf="formErrors.length">
    <div class="alert alert-danger">
        <div class="d-flex flex-column">
            <span *ngFor="let error of formErrors">{{error}}</span>
        </div>
    </div>
</ng-container>


<form [formGroup]="bankAccountForm" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-500px mb-7 me-lg-10">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Resim</h2>
                </div>
            </div>
            <div class="card-body text-center pt-0">
                <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" [style]="{
                    backgroundSize: 'contain',
                    backgroundPosition: 'center',
                    backgroundImage: 'url(' + thumbImage + ')'
                }">
                    <div class="image-input-wrapper w-150px h-150px"></div>
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Change avatar">
                        <i class="bi bi-pencil-fill fs-7"></i>
                        <input #thumbInput type="file" name="avatar" accept=".png, .jpg, .jpeg, .webp"
                            (change)="onThumbChange($event)">
                    </label>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Cancel avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="remove" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Remove avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                </div>
                <div class="text-muted fs-7">Marka resmini ayarlayın. Yalnızca *.png, *.jpg ve *.jpeg resim dosyaları kabul edilir.</div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Hesap Bilgileri</h2>
                </div>
            </div>
    
            <div class="card-body pt-0">
                <div class="row mx-auto">

                <div class=" mt-4 col-lg-6 col-12">
                    <label class="required form-label">Hesap Adı</label>
                    <input type="text" class="form-control" formControlName="accountName">
                </div>
                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">Hesap No</label>
                    <input type="string" class="form-control" formControlName="accountNo">
                </div>

                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">Banka Adı</label>
                    <input type="text" class="form-control" formControlName="bankName">
                </div>

                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">Branch Kodu</label>
                    <input type="string" class="form-control" formControlName="branchCode">
                </div>

                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">Ad</label>
                    <input type="text" class="form-control" formControlName="firstName">
                </div>

                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">Soyad</label>
                    <input type="text" class="form-control" formControlName="lastName">
                </div>

                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">IBAN</label>
                    <input type="string" class="form-control" formControlName="iban">
                </div>

             

                <div class="mt-4 col-lg-6 col-12">
                    <label class="required form-label">Swift Kodu</label>
                    <input type="text" class="form-control" formControlName="swiftCode">
                </div>
            </div>

                <!-- <div class="mt-4">
                    <label class="required form-label">Status</label>
                    <select class="form-select" aria-label="status" formControlName="status">
                        <option [value]="1">Active</option>
                        <option [value]="2">Passive</option>
                    </select>
                </div> -->
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button routerLink="/apps/administration/bank-info/list" class="btn btn-light me-5">İptal</button>
            <button type="button" (click)="onSaveClick()" class="btn btn-primary">
                <span class="indicator-label">Değişiklikleri Kaydet</span>
                <span class="indicator-progress">Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
    <div></div>
</form>

<!-- <form [formGroup]="bankAccountForm" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-body text-center pt-0">
                <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" [style]="{
                    backgroundSize: 'contain',
                    backgroundPosition: 'center',
                    backgroundImage: 'url(' + thumbImage + ')'
                }">
                    <div class="image-input-wrapper w-150px h-150px"></div>
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Change avatar">
                        <i class="bi bi-pencil-fill fs-7"></i>
                        <input #thumbInput type="file" name="avatar" accept=".png, .jpg, .jpeg, .webp"
                            (change)="onThumbChange($event)">
                    </label>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Cancel avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                        data-kt-image-input-action="remove" data-bs-toggle="tooltip" title=""
                        data-bs-original-title="Remove avatar">
                        <i class="bi bi-x fs-2"></i>
                    </span>
                </div>
                <div class="text-muted fs-7">Marka resmini ayarlayın. Yalnızca *.png, *.jpg ve *.jpeg resim dosyaları kabul edilir.</div>
            </div>
          
        </div>
      
    </div>
    <div></div>
</form> -->