<div class="card card-flush">
    <div class="table-responsive p-8" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
        <div class="table-loading-message">
            Loading...
        </div>

        <table class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>Fullname</th>
                    <th>Gift</th>
                    <th>Total Coin</th>
                    <th>Coin Period</th>
                    <th>Company</th>
                    <th>Company Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coinGift of coinGiftList">
                    <td>{{coinGift?.company?.contactName}}</td>
                    <td>{{coinGift?.gift}}</td>
                    <td>{{coinGift?.totalCoin}}</td>
                    <td>{{coinGift?.coinPeriod?.statement}} ({{coinGift?.coinPeriod?.startDate | date
                        :"dd.MM.YYYY"}}-{{coinGift?.coinPeriod?.endDate | date :"dd.MM.YYYY"}})</td>
                    <td>{{coinGift?.company?.name}}</td>
                    <td>{{coinGift?.companyType?.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>