<form [formGroup]="form" class="form d-flex flex-column fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="card card-flush py-4 mb-4">
        <div class="card-body pt-0 pb-0 d-flex flex-row align-items-center">
            <input type="checkbox" id="is-silent-cb" name="is-silent-cb" style="margin-right: .5rem;"
                formControlName="isSilent">
            <label class="form-label m-0 mt-1" for="is-silent-cb"><strong>DO NOT send any notification to the
                    user!</strong></label>
        </div>
    </div>
    <div class="card card-flush py-4 mb-4">
        <div class="card-body pt-0">
            <label class="form-label">Message</label>
            <textarea class="form-control" formControlName="message"
                placeholder="Enter your message to the user here.."></textarea>
        </div>
    </div>
    <div class="card card-flush py-4 mb-4" *ngIf="confirmation?.confirmationType==4">
        <div class="card-body pt-0">
            <label class="form-label">Select the fields need to be fixed:</label>

            <div class="d-flex flex-row align-items-center mb-1" *ngFor="let f of fields">
                <input type="checkbox" id="is-silent-cb-{{f.field}}" name="is-silent-cb-{{f.field}}"
                    style="margin-right: .5rem;" [(ngModel)]="f.checked" [ngModelOptions]="{standalone: true}">
                <label class="form-label m-0 mt-1" for="is-silent-cb-{{f.field}}">{{f.field}}</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button [routerLink]="callback || '/apps/administration/approval-requests'"
            class="btn btn-light me-5">Cancel</button>
        <button type="button" (click)="onSaveClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
            [disabled]="isLoading" class="btn btn-primary">
            <span class="indicator-label">Save Changes</span>
            <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
    </div>
</form>