<div class="post d-flex flex-column-fluid">
    <div class="container-xxl">
        <form class="form d-flex flex-column flex-lg-row">
            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Type</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <select class="form-select mb-2" placeholder="Select a brand">
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                            <option value="type1">type1</option>
                        </select>
                    </div>
                </div>
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Export</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0 d-flex align-items-center">
                        <input type="radio" id="rb-yes" name="export" value="true"><label for="rb-yes">Yes</label>
                        <div class="p-2"></div>
                        <input type="radio" id="rb-no" name="export" value="false"><label for="rb-no">No</label>
                    </div>
                </div>
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Status</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <select class="form-select mb-2" placeholder="Select a flag">
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                            <option value="status1">status1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                <div class="d-flex flex-column gap-7 gap-lg-10">
                    <div class="card card-flush py-4">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>General</h2>
                            </div>
                        </div>
                        <div class="card-body pt-0 d-flex flex-column">
                            <div class="d-flex flex-row">
                                <div class="fv-row fv-plugins-icon-container flex-1">
                                    <label class="required form-label">First Name</label>
                                    <input type="text" name="firstname" class="form-control mb-2" placeholder="First Name"
                                        value="">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>

                                <div class="p-2"></div>

                                <div class="fv-row fv-plugins-icon-container flex-1">
                                    <label class="required form-label">Last Name</label>
                                    <input type="text" name="lastname" class="form-control mb-2" placeholder="Last Name"
                                        value="">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-flush py-4">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Company</h2>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="mb-10 fv-row fv-plugins-icon-container">
                                <label class="required form-label">Company Name</label>
                                <input type="text" name="price" class="form-control mb-2" placeholder="Company Name"
                                    value="">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/metronic8/demo1/../demo1/apps/ecommerce/catalog/products.html"
                        id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                        <span class="indicator-label">Save Changes</span>
                        <span class="indicator-progress">Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>