$kelley-green: #009640;
$kelley-green2: #007f36;
$greyish-brown: #575756;
$cement: #9d9d9c;

$fw-thin: 100;
$fw-exlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;

:host {
    display: block;
}

.back-text {
    color: #575756;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.back-text i {
    color: #009640;
    margin-right: 10px;
}

.order-details-wrapper {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding-left: 56px;
    padding-right: 62px;
    padding-top: 33px;
}

.top-bar {
    display: flex;
    margin-top: 36px;
    margin-bottom: 55px;
}

.top-bar-tab {
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: solid 2px #eee;
}

.top-bar-tab img {
    margin-right: 15px;
}

.status-date-wrapper {
    color: #009640;
    display: flex;
    flex-direction: column;
}

.status {
    font-size: 18px;
    font-weight: 600;
    color: #009640;
    line-height: 1.78;
}

.date {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    color: #9d9d9c;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.13;
    color: #575756;
    margin-bottom: 8px;
    display: block;
}

.brand-and-type {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #9d9d9c;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #009640;
    line-height: 1.5;
}

.pallet {
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 87px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575756;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    margin-left: 19px;
    margin-right: 9px;
}

.number {
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    color: #9d9d9c;
    display: flex;
    align-items: center;
}

.container-details-wrapper {
    margin-top: 25px;
    margin-bottom: 23px;
    padding: 29px 45px 29px 43px;
    border-radius: 10px;
    background-color: #fff;
}

.container-type {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 1.29;
}

.container-type .title {
    color: #009640;
}

.container-type .detail {
    color: #575756;
}

.address-info-wrapper {
    padding: 18px 12px 22px 26px;
    border-radius: 10px;
    background-color: #fff;
    color: #575756;
    margin-bottom: 30px;
    height: 490px;
}

.address-info-wrapper .lead-1 {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}


.address-info-wrapper .lead-2 {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.67;
}

.lead-3 {
    display: block;
    color: #9d9d9c !important;
    font-size: 14px;
    font-weight: 600;
}

.horizantal-separator {
    height: 1px;
    background-color: #eee;
}

.subtext {
    color: #009640;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.waiting-for-approval {
    color: #f6b300;
}

.waiting-for-payment {
    color: #009640;
}

.approved {
    color: #009640;
}

.delivered {
    color: #009640 !important;
}

.canceled {
    color: #fa3f3f;
}

.progress-wrapper {
    margin-top: -20px;
    margin-bottom: 55px;
    padding-bottom: 64px;
    padding-top: 16px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress-line {
    height: 5px;
    width: 146px;
    background-color: #fff;
}

.progress-circle {
    width: 32px;
    height: 32px;
    border: solid 3px #fff;
    border-radius: 50%;
    position: relative;

    span {
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        color: #9d9d9c;
        margin-top: 3rem;
        width: 10rem;
        text-align: center;
        left: -3.75rem;
    }
}


.active-circle {
    border-color: #009640;

    span {
        color: #009640;
    }
}

.grand-total {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 100px);
}

.has-container {
    width: calc(100% - 250px) !important;
    margin-left: 87px;
}



.container-proggress-bar {
    height: size(27);
    border-radius: 5px;
    background-color: rgb(0 150 64 / 11%);
    display: flex;
    align-items: center;
    padding: size(7) size(13);
    position: relative;

    .count-text {
        margin-left: auto;
        color: $kelley-green;
        font-weight: $fw-semi;
    }

    .progress-bar-element {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $kelley-green;
        height: 100%;
        display: flex;
        align-items: center;
        padding: size(7) size(13);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        span {
            position: relative;
            z-index: 1;
            font-weight: $fw-semi;
            color: #fff;
        }

        .count {
            width: size(75);
            height: size(75);
            background-color: #fff;
            color: $kelley-green;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 250px;
            position: absolute;
            right: 0;
            transform: translateX(50%);
            z-index: 1;
            box-shadow: inset 0px -3px 5px 0px #c3c3c3;
            line-height: 1;
            display: flex;
            flex-direction: column;
        }

        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50%;
            width: 100%;
            content: "";
            display: block;
            background-color: $kelley-green2;
            border-bottom-left-radius: 5px;
        }
    }

    &.orange {
        background-color: rgb(220 164 43 / 20%);

        .progress-bar-element {
            background-color: #f6b300;

            .count {
                color: #f6b300;
            }

            &:after {
                background-color: #da9f00;
            }
        }

        .count-text {
            color: #f6b300;
        }
    }

    &.small-round {
        .progress-bar-element {
            .count {
                width: size(50);
                height: size(50);
            }
        }
    }
}


.refund-message,.cancel-message {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.order-number-wrapper {
    margin-right:0;
    padding: 0;
    margin-bottom: 20px;
  }
  .order-number-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 8.5%;
    padding: 0 20px;
  }
  
  .order-number {
    font-size: 18px;
    font-weight: bold;
    color: #575756;
    line-height: 1.1;
  }