<div class="card card-flush">
    <div class="table-responsive p-8" style="min-height: 500px;" [ngClass]="{'table-loading': isLoading}">
        <div class="table-loading-message">
            Loading...
        </div>

        <table class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>Resim</th>
                    <th>Başlık Adı</th>
                    <th>Url</th>
                    <th>Bitiş Tarihi</th>
                    <th>Sıra</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let campaign of campaigns.items">
                    <td><img class="small-thumb-image" *ngIf="campaign.image && campaign.image.imagePath"
                            [src]="campaign.image.imagePath | apiUrl"></td>
                    <td>{{campaign.name}}</td>
                    <td>{{campaign.redirectUrl}}</td>
                    <td>{{campaign.endDate | date :"dd.MM.YYYY" }}</td>
                    <td>{{campaign.order}}</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" style="margin-right: .5rem;"
                            (click)="onEditCampaignClick(campaign)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" (click)="onDeleteCampaign(campaign)"><i
                                class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ngb-pagination [maxSize]="5" [ellipses]="true" *ngIf="!waitForSycn" [collectionSize]="campaigns.count"
        [pageSize]="params.Count" [page]="params.Page + 1" (pageChange)="onPageChange($event)" size="sm"
        [boundaryLinks]="true">
    </ngb-pagination>
    </div>
</div>