<ng-container *ngIf="formErrors.length">
    <div class="alert alert-danger">
        <div class="d-flex flex-column">
            <span *ngFor="let error of formErrors">{{error}}</span>
        </div>
    </div>
</ng-container>

<div class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" *ngIf="formModel">
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Anahtar</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <input type="text" class="form-control" placeholder="key" [(ngModel)]="formModel.entryKey">
            </div>
        </div>

        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Değer</h2>
                </div>
            </div>
        
            <div class="card-body pt-0 d-flex flex-column">
                <div *ngFor="let entry of formModel.dictionary">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                style="height: 100%; border-bottom-right-radius: 0; border-top-right-radius: 0; width: 6rem;"
                                id="basic-addon{{entry.id}}"><strong>{{entry.languageSymbol}}</strong></span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{entry.languageSymbol}} value.."
                            [(ngModel)]="entry.entryValue" [attr.aria-describedby]="'basic-addon' + entry.id">
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button routerLink="/apps/administration/translations/list" class="btn btn-light me-5">Cancel</button>
            <button type="button" (click)="onSaveClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
                [disabled]="isLoading" class="btn btn-primary">
                <span class="indicator-label">Değişiklileri Kaydet</span>
                <span class="indicator-progress">Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
</div>