<ng-container *ngIf="formErrors.length">
  <div class="alert alert-danger">
    <div class="d-flex flex-column">
      <span *ngFor="let error of formErrors">{{ error }}</span>
    </div>
  </div>
</ng-container>
<div class="d-flex justify-content-end"></div>
<form class="form d-flex flex-column flex-lg-row" [formGroup]="giftForm">
  <div
    class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10"
  >
    <div class="card card-flush py-4">
      <div class="card-header">
        <div class="card-title">
          <h2>Gift Photo</h2>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <div
          class="image-input image-input-empty image-input-outline mb-3"
          data-kt-image-input="true"
          [style.backgroundSize]="'contain'"
          [style.backgroundPosition]="'center'"
          [style.backgroundImage]="
            'url(' + giftForm.controls['giftImageUrl'].value + ')'
          "
        >
          <div class="image-input-wrapper w-150px h-150px"></div>
          <label
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
            data-kt-image-input-action="change"
            data-bs-toggle="tooltip"
            title=""
            data-bs-original-title="Change avatar"
          >
            <i class="bi bi-pencil-fill fs-7"></i>
            <input
              #thumbInput
              type="file"
              name="avatar"
              accept=".png, .jpg, .jpeg, .webp"
              (change)="onThumbChange($event)"
            />
          </label>
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
            data-kt-image-input-action="cancel"
            data-bs-toggle="tooltip"
            title=""
            data-bs-original-title="Cancel avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
          <span
            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
            data-kt-image-input-action="remove"
            data-bs-toggle="tooltip"
            title=""
            data-bs-original-title="Remove avatar"
          >
            <i class="bi bi-x fs-2"></i>
          </span>
        </div>
        <div class="text-muted fs-7">
          Ürün resmini ayarlayın. Yalnızca *.webp, *.png, *.jpg ve *.jpeg resim
          dosyaları kabul edilir.
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <div class="d-flex flex-column gap-7 gap-lg-10">
      <div class="card card-flush py-4">
        <div class="card-header">
          <label class="required form-label"> Gift Name</label>
          <input type="text" class="form-control" formControlName="giftName" />
        </div>
      </div>
      <div class="card card-flush py-4">
        <div class="card-header">
          <label class="required form-label"> Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="giftDescription"
          />
        </div>
      </div>
      <div class="card card-flush py-4">
        <div class="card-header">
          <label class="required form-label"> Points</label>
          <input type="text" class="form-control" formControlName="points" />
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div class="flex-1"></div>

      <button
        routerLink="/gift/list"
        class="btn btn-light me-5"
        [disabled]="isLoading"
      >
        Cancel
      </button>
      <button
        type="button"
        (click)="onSaveClick()"
        [disabled]="isLoading"
        class="btn btn-primary"
      >
        Save Changes
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">loading.. please wait..</div>
</form>

<app-toasts></app-toasts>
