<ng-container *ngIf="formErrors.length">
    <div class="alert alert-danger">
        <div class="d-flex flex-column">
            <span *ngFor="let error of formErrors">{{error}}</span>
        </div>
    </div>
</ng-container>

<form [formGroup]="ticketTypeForm" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">

    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Genel</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <label class="required form-label">Destek Talep Türü Adı</label>
                <app-translation-entry *ngIf="formModel" [entries]="formModel.translations" [placeholder]="'Destek talebi türü girin.'"
                    (change)="onTranslationEntryChange()"></app-translation-entry>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button routerLink="/apps/administration/tickets/ticket-types/list" class="btn btn-light me-5">İptal</button>
            <button type="button" (click)="onSaveClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
                [disabled]="isLoading" class="btn btn-primary">
          
                <span class="indicator-label">{{ticketTypeForm.value.id != 0 ? "Değişiklikleri Kaydet" : "Kaydet"}}</span>
                <span class="indicator-progress">Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
    <div></div>
</form>