<ng-container *ngIf="formErrors.length">
    <div class="alert alert-danger">
        <div class="d-flex flex-column">
            <span *ngFor="let error of formErrors">{{error}}</span>
        </div>
    </div>
</ng-container>

<form [formGroup]="staticPageForm" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Url</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <input type="text" class="form-control" formControlName="url" placeholder="page url">
                <p class="text-small">Lütfen url'i başında '/' olmadan giriniz. Örn: 'app-some-page'</p>
            </div>
        </div>

        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Açıklama</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <app-translation-entry *ngIf="descTranslations.length > 0" [entries]="descTranslations"
                    [placeholder]="'Description'"></app-translation-entry>
            </div>
        </div>

        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>İçerik</h2>
                </div>
            </div>
            <div class="card-body pt-0">
                <app-translation-entry *ngIf="contentTranslations.length > 0" [entries]="contentTranslations"
                    [placeholder]="'Content'" [mode]="'wysiwyg'"></app-translation-entry>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button routerLink="/apps/administration/static-pages/list" class="btn btn-light me-5">İptal</button>
            <button type="button" (click)="onSaveClick()" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
                [disabled]="isLoading" class="btn btn-primary">
                <span class="indicator-label">{{staticPageForm.value.id != 0 ? "Değişiklikleri Kaydet" : "Kaydet"}}</span>
                <span class="indicator-progress">Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
</form>